@font-face {
  font-family: 'Shrikhand';
  src: url(../Fonts/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../Fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../Fonts/Roboto-Bold.ttf);
}

body {
  font-family: 'Roboto Light';
}

h1, .footer_heading {
  margin-bottom: 5px;
  font-family: 'Shrikhand', 'Open Sans';
}

h2 {
  font-family: 'Roboto Bold';
  font-size: 1.2em;
}

h3, p {
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-weight: lighter;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
  padding: 0 0 8px 20px;
  margin-bottom: 15px;
  position: relative;
}

h4:after {
  content: '';
  background: #99E2D0;
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 2px;
  width: 40px;
}

.section-heading {
  font-size: 1.3em;
  margin: 60px 0 25px 20px;
}

a {
  text-decoration: none;
}

.menu-icone {
  width: 15px;
  height: 20px;
}

.restaurant-name {
  font-family: 'Roboto Bold';
  font-size: 1em;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.bloc-page {
  min-width: 320px;
  max-width: 882px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

header a {
  color: black;
}

.fa-arrow-left {
  margin-left: 15px;
  margin-right: 70px;
  font-size: 1.2em;
}

img {
  width: 375px;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 375px;
  height: 100%;
  background-color: #f6f6f6;
}

.container_menu {
  background-color: #f6f6f6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding-top: 20px;
  position: relative;
  bottom: 75px;
}

.container_menu_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.container_menu_heading {
  font-family: 'Shrikhand';
  font-size: 1.4rem;
  padding-left: 20px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.container_menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_menu_items_details {
  list-style: none;
  margin: 0;
  padding-left: 0;
  width: 375px;
}

.container_menu_items_details_box {
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  margin: 0 0 15px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -webkit-box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.dish {
  font-weight: bolder;
  margin: 15px 0 0 10px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.dish_description {
  font-size: 0.9rem;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  margin: 5px 0 12px 10px;
}

.dish_price {
  font-size: 0.9rem;
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  padding-right: 25px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.heart {
  font-size: 1.4rem;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.heart--filled {
  font-size: 1.4rem;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-order {
  color: white;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  padding: 15px 20px;
  border-radius: 2em;
  border: none;
  font-family: 'Roboto Bold';
  font-size: 0.9em;
  padding: 15px 45px;
  margin-top: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  background-color: #353535;
  color: white;
  height: 198px;
}

footer a {
  color: white;
}

.footer {
  margin: 30px 0 0 25px;
}

.footer_heading {
  margin-bottom: 25px;
}

.footer_nav {
  font-size: 0.9em;
}

.footer_nav p {
  margin-bottom: 10px;
}

.footer_icone {
  font-size: 0.7em;
  margin-right: 10px;
  max-width: 10px;
}
/*# sourceMappingURL=pages.css.map */