@font-face {
  font-family: 'Shrikhand';
  src: url(../Fonts/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../Fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../Fonts/Roboto-Bold.ttf);
}

body {
  font-family: 'Roboto Light';
}

h1, .footer-heading {
  font-family: 'Shrikhand', 'Open Sans';
}

h2 {
  font-family: 'Roboto Bold';
  font-size: 1.2em;
}

h3, p {
  margin: 0;
}

.section-heading {
  margin: 60px 0 25px 20px;
}

a {
  text-decoration: none;
}

.restaurant-name {
  font-family: 'Roboto Bold';
  font-size: 1em;
}

.restaurant-place {
  margin: 5px 0 0 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.bloc-page {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant-link {
  text-decoration: none;
  color: black;
}

.restaurant-link_card {
  max-width: 336px;
  height: 250px;
  background-color: white;
  border-radius: 1rem;
  margin: 0 20px 20px 20px;
  position: relative;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(160, 160, 160, 0.85);
  box-shadow: 0px 3px 15px 0px rgba(160, 160, 160, 0.85);
}

.restaurant-link_card_img {
  width: 100%;
  max-height: 175px;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-link_card_text {
  margin: 15px 0 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: 'name . like' 'place . like';
}

.restaurant-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.restaurant-place {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: place;
}

#heart {
  font-size: 1.7rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: like;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#heart--filled {
  font-size: 1.7rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: like;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.new-tag {
  font-family: 'Roboto Bold';
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 8px 12px;
  border-radius: 5%;
  position: absolute;
  top: 12px;
  right: 12px;
}
/*# sourceMappingURL=style.css.map */