header {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.nav {
    background-color: #f6f6f6;
    &_geoloc {
        background-color: #eaeaea;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
            padding-left: 60px;
        }
        &_icone {
            font-size: 1.3rem;
        }
        & input {
            border: none;
            background-color: #eaeaea;
            margin-left: 15px;
            font-family: 'Roboto Bold';
            font-size: 1rem;
        }
    }
    &_introduction {
        background-color: #f6f6f6;
        height: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        & h2 {
            font-size: 1.5em;
            margin-bottom: 0;
        }
    }
}

#btn-explore {
    color: white;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    padding: 15px 20px;;
    border-radius: 2em;
    font-family: 'Roboto Bold';
}

.guidelines {
    background-color: white;
    width: 100%;
    height: 440px;
    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_bloc {
        background-color: #f6f6f6;
        position: relative;
        width: 325px;
        height: 75px;
        border-radius: 1em;
        margin-bottom: 22px;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85); 
        box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85);
        &_text {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            & p {
                font-family: 'Roboto Bold';
            }
        }
        &_digit {
            background-color: $primary-color;
            color: white;
            font-size: 0.8em;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            left: -12px;
            top: 25px;
            padding: 4px 8px;
        }
    }
    
}

.restaurants {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 45px;
    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.restaurant-link {
    text-decoration: none;
    color: black;
    &_card {
        max-width: 336px;
        height: 250px;
        background-color: white;
        border-radius: 1rem;
        margin: 0 20px 20px 20px;
        position: relative;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85); 
        box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85);
        &_img {
            width: 100%;
            max-height: 175px;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
    }
    &_text {
        margin: 15px 0 0 15px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            'name . like'
            'place . like'
    }
    }
}

.restaurant-name {
    grid-area: name;
    grid-row: 1;
    grid-column: 1;
}

.restaurant-place {
    grid-area: place;
    grid-row: 2;
    grid-column: 1;
}

#heart {
    display: block;
    font-size: 1.7rem;
    grid-area: like;
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 3;
    &--filled {
        display: block;
        font-size: 1.7rem;
        grid-area: like;
        justify-self: center;
        align-self: center;
        grid-row: 1;
        grid-column: 3;
        color: #9356dc;
        background:-moz-linear-gradient(top, #9356dc 0%, #ff79da 100%); 
        background: -webkit-linear-gradient(top, #9356dc 0%,#ff79da 100%); 
        background: linear-gradient(to bottom, #9356dc 0%,#ff79da 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;   
       transform: scale(0);
       transform-origin: bottom;
       transition: transform 2s;    
        &:hover {
            transform: scale(1);
        }
        }
    }


.new-tag {
    font-family: 'Roboto Bold';
    background-color: $tertiary-color;
    color: darken($tertiary-color, 35%);
    padding: 8px 12px;
    border-radius: 5%;
    position: absolute;
    top: 12px;
    right: 12px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85); 
    box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85);
}

footer {
    background-color: #353535;
    color: white;
    height: 198px;
    & a {
        color: white;
    }
}

.footer {
    margin: 30px 0 0 25px;
    &_heading {
        margin-bottom: 25px;
    }
    &_nav {
        font-size: 0.9em;
        & p {
            margin-bottom: 10px;
        }
    }
    &_icone {
        font-size: 0.7em;
        margin-right: 10px;
        max-width: 10px;
    }
}




    