header {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
//principaux éléments du spinning loader
.animation-container {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    position: fixed;
    display: block;
    animation: disappear;
    animation-duration: $loader-duration;
    animation-fill-mode: forwards;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #99e2d0;
    background: -moz-linear-gradient(left, #99e2d0 10%, rgba(153,226,208, 0) 42%);
    background: -webkit-linear-gradient(left, #99e2d0 10%, rgba(153,226,208, 0) 42%);
    background: -o-linear-gradient(left, #99e2d0 10%, rgba(153,226,208, 0) 42%);
    background: -ms-linear-gradient(left, #99e2d0 10%, rgba(153,226,208, 0) 42%);
    background: linear-gradient(to right, #99e2d0 10%, rgba(153,226,208, 0) 42%);
    position: fixed;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    -webkit-animation: load3 $loader-duration linear;
    animation: load3 $loader-duration linear;
    animation-fill-mode: forwards;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    &:before {
        width: 50%;
        height: 50%;
        background: #99e2d0;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
      }
    &:after {
        background: #f6f6f6;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
      }
  }
//partie "navigation"
.nav {
    background-color: #f6f6f6;
    width: 100%;
    &_geoloc {
        background-color: #eaeaea;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for_breakpoint(tablet) {
            height: 75px;
        }
        & p {
            padding-left: 60px;
            @include for_breakpoint(tablet) {
                padding-left: 125px;
            }
        }
        &_icone {
            font-size: 1rem;
            @include for_breakpoint(tablet) {
                font-size: 1.8rem;
            }
        }
        & input {
            border: none;
            background-color: #eaeaea;
            margin-left: 15px;
            font-family: 'Roboto Bold';
            font-size: 1rem;
            @include for_breakpoint(tablet) {
                font-size: 1.8rem;
                margin-left: 30px;
            }
        }
    }
    &_introduction {
        background-color: #f6f6f6;
        height: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        @include for_breakpoint(desktop) {
            height: 325px;
        };
        & h2 {
            font-size: 1.5em;
            margin-bottom: 0;
            @include for_breakpoint(tablet) {
                font-size: 1.8em;
            }
        }
        & p {
            @include for_breakpoint(tablet) {
                font-size: 1.4em;
            }
        }
        
    }
}

#btn-explore {
    color: white;
    font-size: 1em;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    padding: 15px 20px;;
    border-radius: 2em;
    font-family: 'Roboto Bold';
    -webkit-box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0);
    &:hover {
        background-image: linear-gradient(to left top, lighten(#9356dc, 5%), lighten(#b35cdc, 5%), lighten(#cf64dc, 5%), lighten(#e86edb, 5%), lighten(#ff79da, 5%));
        -webkit-box-shadow: 0px 10px 13px -7px #4d4d4de5, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #4d4d4de5, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    @include for_breakpoint(tablet) {
        font-size: 1.2em;
        padding: 25px 30px;
    }
}
//partie restaurants
.guidelines {
    background-color: white;
    width: 100%;
    height: 440px;
    @include for_breakpoint(tablet) {
        height: 625px;
    }
    @include for_breakpoint(desktop) {
        height: 525px;
    }
    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    &_bloc {
        background-color: #f6f6f6;
        position: relative;
        width: 70%;
        height: 75px;
        border-radius: 1em;
        margin-bottom: 22px;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85); 
        box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85);
        @include for_breakpoint(tablet) {
            height: 100px;
        }
        @include for_breakpoint(desktop) {
            width: 40%;
        }
        @include for_breakpoint(large) {
            width: 30%;
        }
        &:nth-child(3) {
            background-color: #f5edff;
        }
        &_text {
            height: 100%;
            font-size: 1em;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @include for_breakpoint(tablet) {
                font-size: 1.5em;
            }
            & p {
                font-family: 'Roboto Bold';
            }
        }
        &_digit {
            background-color: $primary-color;
            color: white;
            font-size: 0.8em;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            left: -12px;
            top: 25px;
            padding: 4px 8px;
            @include for_breakpoint(tablet) {
                font-size: 1.3em;
                left: -18px;
                top: 35px;
                padding: 6px 12px;
            }
        }
    }
    
}

.restaurants {
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 45px;
    &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        @include for_breakpoint(desktop) {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: auto;
        }
        &_cards {
            @include for_breakpoint(desktop) {
                &:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                }
                &:nth-child(2) {
                    grid-column: 2;
                    grid-row: 1;
                }
                &:nth-child(3) {
                    grid-column: 1;
                    grid-row: 2;
                }
                &:nth-child(4) {
                    grid-column: 2;
                    grid-row: 2;
                }
            }
        }
    }
}

.restaurant-link {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    @include for_breakpoint(desktop) {
        margin-bottom: 25px;
    }
    &_card {
        height: 250px;
        background-color: white;
        border-radius: 1rem;
        margin: 0 20px 20px 20px;
        position: relative;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85); 
        box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85);
        @include for_breakpoint(tablet) {
            width: 70%;
            height: 350px;
        }
        @include for_breakpoint(desktop) {
            width:70%;
        }
        @include for_breakpoint(large) {
            width: 50%;
        }
        &_img {
            width: 100%;
            max-height: 175px;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
            @include for_breakpoint(tablet) {
                max-height: 235px;
            }
    }
    &_text {
        margin: 15px 0 0 15px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            'name . like'
            'place . like';
        @include for_breakpoint(tablet) {
            margin: 15px 0 0 20px;
        }
        
    }
    }
}

.restaurant-name {
    grid-area: name;
    grid-row: 1;
    grid-column: 1;
    @include for_breakpoint(tablet) {
        font-size: 1.4em;
        margin-bottom: 15px;
    }
}

.restaurant-place {
    grid-area: place;
    grid-row: 2;
    grid-column: 1;
    @include for_breakpoint(tablet) {
        font-size: 1.2em;
    }
}

.heart {
    display: block;
    font-size: 1.7rem;
    grid-area: like;
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 3;
    @include for_breakpoint(tablet) {
        font-size: 2.1rem;
    }
    &--filled {
        display: block;
        //transform: scale(0);
        transform-origin: bottom;
        font-size: 1.7rem;
        grid-area: like;
        justify-self: center;
        align-self: center;
        grid-row: 1;
        grid-column: 3;
        color: #9356dc;
        background:-moz-linear-gradient(top, #9356dc 0%, #ff79da 100%); 
        background: -webkit-linear-gradient(top, #9356dc 0%,#ff79da 100%); 
        background: linear-gradient(to bottom, #9356dc 0%,#ff79da 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
       opacity: 0;
       @include for_breakpoint(tablet) {
        font-size: 2.1rem;
    }
       &:hover {
           animation: like;
           animation-duration: 2s;
           animation-fill-mode: forwards;
       }   
        }
    }


.new-tag {
    font-family: 'Roboto Bold';
    background-color: $tertiary-color;
    color: darken($tertiary-color, 35%);
    padding: 8px 12px;
    border-radius: 5%;
    position: absolute;
    top: 12px;
    right: 12px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85); 
    box-shadow: 0px 3px 15px 0px rgba(160,160,160,0.85);
    @include for_breakpoint(tablet) {
        font-size: 1.3em;
        padding: 10px 14px;
        top: 16px;
        right: 16px;
    }
}

footer {
    background-color: #353535;
    color: white;
    height: 198px;
    @include for_breakpoint(tablet desktop) {
        height: 230px;
    }
    & a {
        color: white;
    }
}

.footer {
    padding: 30px 0 10px 25px;
    height: auto;
    &_heading {
        margin-bottom: 25px;
        @include for_breakpoint(tablet desktop) {
            font-size: 1.4em;
        }
    }
    &_nav {
        font-size: 0.9em;
        @include for_breakpoint(tablet desktop) {
            font-size: 1.2em;
        }

        & p {
            margin-bottom: 10px;
        }
    }
    &_icone {
        font-size: 0.7em;
        margin-right: 10px;
        max-width: 10px;
    }
}




    