header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    & a {
        color: black;
    }
}

.fa-arrow-left {
    position: absolute;
    margin-left: 15px;
    margin-right: 70px;
    font-size: 1.2em;
    left: -2%;
    bottom: 30%;
    @include for_breakpoint(tablet) {
        font-size: 1.8em;
        margin-left: 30px;
        padding-right: 125px;
    }
    @include for_breakpoint(desktop) {
        font-size: 2em;
        margin-left: 50px;
        padding-right: 240px;
    }
}

 img {
     width: 100%;
     height: 255px;
     object-fit: cover;
     @include for_breakpoint(desktop) {
         height: 400px;
     }
}

.container {
    background-color: #f6f6f6;
    &_menu {
        background-color: #f6f6f6;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        padding-top: 20px;
        position: relative;
        bottom: 75px;
        &_header {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 3fr 1fr;
        }
        &_heading {
            font-family: 'Shrikhand';
            font-size: 1.4rem;
            padding-left: 20px;
            grid-row: 1;
            grid-column: 1;
            @include for_breakpoint(tablet) {
                font-size: 1.8em;
            }
            @include for_breakpoint(desktop) {
                font-size: 2em;
                padding-left: 50px;
            }
        }
        &_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_details {
                list-style: none;
                margin: 0;
                padding-left: 0;
                width: 375px;
                @include transition;
                @include for_breakpoint(tablet) {
                    width: 525px;
                }
                @include for_breakpoint(desktop) {
                    width: 675px;
                }
            &_box {
                background-color: white;
                border-radius: 1rem;
                width: 90%;
                margin: 0 0 15px 20px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                -webkit-box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0); 
                box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0);
                overflow: hidden;
                transform: translateY(25px);
                opacity: 0;
                @include for_breakpoint(tablet desktop) {
                    height: 88px;
                }
                &:hover > .dish--select {
                    animation: slide $anim-dur ease-in-out;
                    animation-fill-mode: forwards;
                }
                &:hover  .checkmark {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover  .fa-check-circle {
                    animation: spin 600ms;
                }
                }
            }
        }
        
    }
}

.dish {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &_name {
    font-weight: bolder;
    margin: 15px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include for_breakpoint(tablet desktop) {
        font-size: larger;
        margin: 0 0 5px 15px;
    }
    }
    &_description {
        font-size: 0.9rem;
        margin: 5px 0 12px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include for_breakpoint(tablet desktop) {
            font-size: larger;
            margin: 5px 0 15px 15px;
        }
    }
    &_price {
        font-size: 0.9rem;
        font-weight: bolder;
        justify-self: flex-end;
        padding-right: 25px;
        padding-bottom: 10px;
        @include for_breakpoint(tablet desktop) {
            font-size: larger;
        }
    }
    &--select {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 116.45px;
        @include for_breakpoint(tablet desktop) {
            max-width: 145px;
        }
    }
}

.checkmark {
    height: 69px;
    min-width: 67.5px;
    background-color: $tertiary-color;
    color: white;
    border-radius: 0 1em 1em 0;
    display: none;
    @include for_breakpoint(tablet desktop) {
        height: 88px;
        min-width: 87.5px;
    }
}

.heart {
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    @include for_breakpoint(tablet) {
        font-size: 2em;
    }
    @include for_breakpoint(desktop) {
        font-size: 2em;
    }
    &--filled {
        font-size: 1.4rem;
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
        align-self: center;
        color: #9356dc;
        background:-moz-linear-gradient(top, #9356dc 0%, #ff79da 100%); 
        background: -webkit-linear-gradient(top, #9356dc 0%,#ff79da 100%); 
        background: linear-gradient(to bottom, #9356dc 0%,#ff79da 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
       opacity: 0;
       @include for_breakpoint(tablet) {
        font-size: 2em;
    }
    @include for_breakpoint(desktop) {
        font-size: 2em;
    }
       &:hover {
           animation: like;
           animation-duration: 2s;
           animation-fill-mode: forwards;
       }
    }
}

.btn-order {
    color: white;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    padding: 15px 20px;;
    border-radius: 2em;
    border: none;
    font-family: 'Roboto Bold';
    font-size: 0.9em;
    padding: 15px 45px;
    margin-top: 35px;
    align-self: center;
    -webkit-box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0);
    @include for_breakpoint(tablet desktop) {
        font-size: larger;
        margin-top: 50px;
        padding: 20px 60px;
    }
    &:hover {
        background-image: linear-gradient(to left top, lighten(#9356dc, 5%), lighten(#b35cdc, 5%), lighten(#cf64dc, 5%), lighten(#e86edb, 5%), lighten(#ff79da, 5%));
        -webkit-box-shadow: 0px 10px 13px -7px #4d4d4de5, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #4d4d4de5, 5px 5px 15px 5px rgba(0,0,0,0);
    }
}

footer {
    background-color: #353535;
    color: white;
    height: 198px;
    @include for_breakpoint(tablet desktop) {
        height: 230px;
    }
    & a {
        color: white;
    }
}

.footer {
    margin: 30px 0 0 25px;
    &_heading {
        margin-bottom: 25px;
        @include for_breakpoint(tablet desktop) {
            font-size: 1.4em;
        }
    }
    &_nav {
        font-size: 0.9em;
        @include for_breakpoint(tablet desktop) {
            font-size: 1.2em;
        }
        & p {
            margin-bottom: 10px;
        }
    }
    &_icone {
        font-size: 0.7em;
        margin-right: 10px;
        max-width: 10px;
    }
}