header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    & a {
        color: black;
    }
}

.fa-arrow-left {
    margin-left: 15px;
    margin-right: 70px;
    font-size: 1.2em;
}

 img {
     width: 375px;
     height: 255px;
     object-fit: cover;
}

.container {
    width: 375px;
    height: 100%;
    background-color: #f6f6f6;
    &_menu {
        background-color: #f6f6f6;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        padding-top: 20px;
        position: relative;
        bottom: 75px;
        &_header {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 3fr 1fr;
        }
        &_heading {
            font-family: 'Shrikhand';
            font-size: 1.4rem;
            padding-left: 20px;
            grid-row: 1;
            grid-column: 1;
        }
        &_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_details {
                list-style: none;
                margin: 0;
                padding-left: 0;
                width: 375px;
            &_box {
                background-color: white;
                border-radius: 1rem;
                width: 90%;
                margin: 0 0 15px 20px;
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 3fr 1fr;
                -webkit-box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0); 
                box-shadow: 0px 10px 13px -7px #8a8a8aa2, 5px 5px 15px 5px rgba(0,0,0,0);
                }
            }
        }
        
    }
}

.dish {
    font-weight: bolder;
    margin: 15px 0 0 10px;
    grid-row: 1;
    grid-column: 1;
    &_description {
        font-size: 0.9rem;
        grid-row: 2;
        grid-column: 1;
        margin: 5px 0 12px 10px;
    }
    &_price {
        font-size: 0.9rem;
        font-weight: bolder;
        align-self:center;
        justify-self: right;
        padding-right: 25px;
        grid-row: 2;
        grid-column: 2;
    }
}

.heart {
    font-size: 1.4rem;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    &--filled {
        font-size: 1.4rem;
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
        align-self: center;
    }
}

.btn-order {
    color: white;
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    padding: 15px 20px;;
    border-radius: 2em;
    border: none;
    font-family: 'Roboto Bold';
    font-size: 0.9em;
    padding: 15px 45px;
    margin-top: 35px;
    align-self: center;
}

footer {
    background-color: #353535;
    color: white;
    height: 198px;
    & a {
        color: white;
    }
}

.footer {
    margin: 30px 0 0 25px;
    &_heading {
        margin-bottom: 25px;
    }
    &_nav {
        font-size: 0.9em;
        & p {
            margin-bottom: 10px;
        }
    }
    &_icone {
        font-size: 0.7em;
        margin-right: 10px;
        max-width: 10px;
    }
}