body {
    display:flex;
    flex-direction: column;
    margin: auto;
}

header {
    background-color: white;
}

.bloc-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}