body {
    display:flex;
    flex-direction: column;
    margin: auto;
}

.bloc-page {
    min-width: 320px;
    max-width: 882px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}