@font-face {
    font-family: 'Shrikhand';
    src: url(../Fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../Fonts/Roboto-Bold.ttf)
}

body {
    font-family: 'Roboto Light';
}

h1 {
    justify-self: center;
    @include for_breakpoint(tablet desktop) {
        font-size: 3em;
    }
}

h1, .footer_heading {
    margin-bottom: 5px;
    font-family: 'Shrikhand', 'Open Sans'; 
}

h2 {
    font-family: 'Roboto Bold';
    font-size: 1.2em;
}

h3, p {
    margin: 0;
}

h4 {
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 0 0 8px 20px;
    margin-bottom: 15px;
    opacity: 0;
    animation: menu 500ms forwards;
    position: relative;
    @include for_breakpoint(tablet) {
        font-size: 1.5em;
    }
    @include for_breakpoint(desktop) {
        font-size: 1.6em;
    }
    &:after {
        content: '';
        background: $tertiary-color;
        position: absolute;
        bottom: 0;
        left: 20px;
        height: 2px;
        width: 40px;
        @include for_breakpoint(tablet desktop large) {
            width: 60px;
        }
    }
}

.fa-store {
    color: $primary-color;
}

.fa-check-circle {
    font-size: 1.8em;
    @include for_breakpoint(tablet desktop) {
        font-size: 2.2em;
    }
}

.section-heading {
    font-size: 1.3em;
    margin: 60px 0 25px 20px;
    @include for_breakpoint(tablet) {
        font-size: 1.8em;
        margin: 60px 0 50px 50px;
    }
    @include for_breakpoint(desktop) {
        font-size: 1.8em;
        margin: 60px 0 75px 100px;
    }
}

a {
    text-decoration: none;  
}

.menu-icone {
    width: 15px;
    height: 20px;
}

.restaurant-name {
    font-family: 'Roboto Bold';
    font-size: 1em;
}



