@font-face {
    font-family: 'Shrikhand';
    src: url(../Fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../Fonts/Roboto-Bold.ttf)
}

body {
    font-family: 'Roboto Light';
}

h1, .footer-heading {
    font-family: 'Shrikhand', 'Open Sans';
}

h2 {
    font-family: 'Roboto Bold';
    font-size: 1.2em;
}

h3, p {
    margin: 0;
}

.section-heading {
    margin: 60px 0 26px 20px;
}

a {
    text-decoration: none;
}

.restaurant-name {
    font-family: 'Roboto Bold';
    font-size: 1em;
}