@keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      visibility: hidden;
    }
  }

  @keyframes disappear {
      0% {
         visibility: visible ;
      }
      99% {
          visibility: visible;
      }
      100% {
          visibility: hidden;
      }
  } //cache le conteneur du loader pour accéder au site après l'animation

  @keyframes like {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

  @keyframes spin {
      0% {
          transform: rotate(0);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes slide {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(0%);
    }
  }

  @keyframes menu {
      0% {
          visibility: hidden;
          transform: translateY(25px);
          opacity: 0;
      }
      100% {
          visibility: visible;
          transform: translateY(0px);
          opacity: 1;
      }
  }
      
  