@mixin transition {
    & {
        animation: menu 1500ms both;
        @for $i from 1 through 3 {
            $next: $i + 1;
            &:nth-child(#{$next}) {
                animation-delay: $i * 500ms;
            }
        }
    }
}

@mixin apparition {
    @each $li in lis {
        @for $i from 1 to 10 {
            //$next: $i + 1;
            &:nth-child(#{$i}) {
                    animation: menu 300ms forwards;
                    animation-delay: $i * 300ms;
            }
        }
        
    }
}
//mixin simplifiant la rédaction des media queries en renseignant seulement le mot-clé du breakpoint
@mixin for_breakpoint($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media-queries, $breakpoint))},
            comma
        );
    }
    @media #{$conditions} {
        @content;
    }
}