@mixin transition {
    & {
        animation: menu 500ms both;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 600ms;
            }
        }
    }
}

@mixin apparition {
    @each $li in lis {
        @for $i from 1 to 10 {
            &:nth-child(#{$i}) {
                    animation: menu 150ms forwards;
                    animation-delay: $i * 200ms;
            }
        }
        
    }
}

@mixin for_breakpoint($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media-queries, $breakpoint))},
            comma
        );
    }
    @media #{$conditions} {
        @content;
    }
}